@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'BloodDrip';
    src: url(./asset/font/plasdrip.ttf) format('truetype');
  }
}
#homepage-animation2 {
  animation-delay: -15s;
}
.animation404 {
  animation-fill-mode: both;
}
.font-blooddrip {
  font-family: BloodDrip;
}
