@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'BloodDrip';
    src: url(./asset/font/plasdrip.ttf) format('truetype');
  }
}
#homepage-animation2 {
  animation-delay: -15s;
}
.animation404 {
  animation-fill-mode: both;
}
.font-blooddrip {
  font-family: BloodDrip;
}

.active {
  @apply text-blue-600;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fix_hover::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0px;
  left: -20px;
  background: transparent;
}
